.facts {
  background: url('../public/images/bg-facts.png') no-repeat;
  background-size: contain;
  height: 100vh;
  background-position-x: -10%;

  &-block {
    &__title {
      font-family: Tenor Sans;
      font-style: normal;
      font-weight: normal;
      font-size: 45px;
    }

    p {
      font-family: Montserrat;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      span {
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
      }
    }
  }
}

.idea-now {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
}

@media screen and (max-width: 992px){
  .facts {
    height: 125vh;
    background-position-y: 95%;
  }
}


@media screen and (max-width: 576px) {
  .facts {
    height: 185vh;
    background-position-y: 103%;
  }
}
