.block-imgs {
  position: relative;
  img {
    width: 1200px;
  }

  .bright {
    filter: brightness(0.5);
  }

  .img-1 {
    &.active {
      filter: brightness(0.5);
    }
  }

  .img-2 {
    &.active {
      //filter: blur(5px);
    }
  }

}

.styles-label  {
  position: absolute;
  z-index: 3;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.list-group-item {
  color: white;
  background: none;
  border: 3px solid white;
  transition: all .33s;
  font-family: Tenor Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;

  &:hover {
    background: linear-gradient(180deg, #D6AB63 0%, #A88447 100%);
    color: white;
    //border: 1px solid transparent;
  }
  &.active {
    background: linear-gradient(180deg, #D6AB63 0%, #A88447 100%);
    outline: none;
    border: 1px solid transparent;
  }
}

.list-group-item + .list-group-item {
  border-top-width: initial;
}

.lists {
  background: #F8F2E6;
  height: 9vh;
}

/*Carousel Gallery*/
.carousel-gallery{
  margin: 50px 0;
  padding: 0 30px;
  .swiper-slide{
    a{
      display: block;
      width: 100%;
      height: 200px;
      border-radius: 4px;
      overflow: hidden;
      position: relative;

      -webkit-box-shadow: 3px 2px 20px 0px rgba(0,0,0, .2);
      -moz-box-shadow: 3px 2px 20px 0px rgba(0,0,0, .2);
      box-shadow: 3px 2px 20px 0px rgba(0,0,0, .2);

      &:hover{
        .image{
          .overlay{opacity: 1}
        }
      }

      .image{
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center center;
        .overlay{
          width: 100%;
          height: 100%;
          background-color: rgba(20,20,20, .8);
          text-align: center;
          opacity: 0;

          -webkit-transition: all .2s linear;
          -o-transition: all .2s linear;
          transition: all .2s linear;

          em{
            color: #fff;
            font-size: 26px;
            position: relative;
            top: 50%;
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            -o-transform: translateY(-50%);
            transform: translateY(-50%);
            display: inline-block;
          }
        }
      }
    }
  }
  .swiper-pagination{
    position: relative;
    bottom: auto;
    text-align: center;
    margin-top: 25px;

    .swiper-pagination-bullet{
      -webkit-transition: all .2s linear;
      -o-transition: all .2s linear;
      transition: all .2s linear;

      &:hover{
        opacity: .7;
      }

      &.swiper-pagination-bullet-active{
        background-color: #d63031;
        transform: scale(1.1, 1.1)
      }
    }
  }
}
<<<<<<< HEAD
.fade:not(.show) {
  display: none !important;
}

.fade {
  transition: all .1s !important;
}

=======
>>>>>>> de824aaf275dd8b532d40eb2beae7aeda0a66f75
/*# Carousel Gallery*/

