@import '../../node_modules/bootstrap/scss/bootstrap';

@import './blocks/header';
@import './blocks/intro';
@import './blocks/history';
@import './blocks/styles';
@import './blocks/facts';
@import './blocks/form';
@import './blocks/contacts';
@import './blocks/footer';


@import './swiper/swiper-vars.scss';
@import './swiper/swiper-bundle.scss';



body {
    font-family: 'Montserrat', 'Tenor Sans', sans-serif;
}

.container-fluid {
  padding: 0;
  overflow: hidden;
}

a {
  color: black;

  &:hover {
    color: black;
    text-decoration: none;
  }
}

.list-group {
  flex-direction: row;
}
