@import '../../node_modules/bootstrap/scss/bootstrap';

@import './blocks/header';
@import './blocks/intro';
@import './blocks/history';
@import './blocks/styles';


body {
    font-family: 'Montserrat', 'Tenor Sans', sans-serif;
}

.container-fluid {
  padding: 0;
  overflow: hidden;
}

a {
  color: black;

  &:hover {
    color: antiquewhite;
    text-decoration: none;
  }
}

.list-group {
  flex-direction: row;
}
